<nav
  class="navbar nav-container d-flex justify-content-between align-items-center px-4 py-3"
  [ngClass]="isDark ? 'dark-theme' : 'light-theme'"
>

  <!-- Bal oldal -->
  <div class="d-flex align-items-center gap-4">
    <a routerLink="/orders" class="nav-link d-flex align-items-center gap-2">
      <i class="bi bi-ui-checks"></i>
      <span>Rendelések</span>
    </a>

    <a routerLink="/statistics" class="nav-link d-flex align-items-center gap-2">
      <i class="bi bi-bar-chart-line-fill"></i>
      <span>Statisztikák</span>
    </a>

  </div>

  <!-- Jobb oldal -->
  <div>
    <button class="btn-sm toggle-theme-btn" (click)="toggleTheme()" title="Téma váltás">
      <i class="bi" [ngClass]="isDark ? 'bi-sun' : 'bi-moon'"></i>
    </button>
  </div>
</nav>
