<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-success" routerLink="/orders/new">
      + Új rendelés
    </button>
    <div class="search-bar position-relative">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Rendelés neve"
        class="form-control rounded-pill ps-5"
      />
      <i class="bi bi-search search-icon position-absolute"></i>
    </div>
  </div>

  <div class="table-responsive shadow rounded overflow-hidden border">
    <table 
      class="table table-bordered table-hover table-striped table-sm align-middle text-center custom-table mb-0 rounded"
      [ngClass]="isDark ? 'table-dark' : 'table-light'">
      <thead class="align-middle">
        <tr>
          <th class="text-uppercase">Rendelés neve</th>
          <th class="text-uppercase">Telepítési cím</th>
          <th class="text-uppercase">Ügyfél Email</th>
          <th class="text-uppercase">Telefon</th>
          <th class="text-uppercase">Határidő</th>
          <th class="text-uppercase">Művelet</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of filteredOrders()">
          <td>{{ order.orderName }}</td>
          <td>{{ order.installationAdress }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.phoneNumber }}</td>
          <td>{{ order.deadline | date: 'shortDate' }}</td>
          <td>
            <button class="btn btn-sm btn-primary me-2" [routerLink]="['/orders', order.id, 'details']">
              <i class="bi bi-three-dots"></i></button>
            <button class="btn btn-sm btn-warning me-2" [routerLink]="['/orders/edit', order.id]">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteOrder(order.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
